<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TheBreakout.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>11F431C41E9EF5A1008E201D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>11F431DD1E9EF5A1008E201D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>11F431E81E9EF5A1008E201D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
